html {
    scroll-behavior: smooth;
}
/*
header {
    display: flex;        
    height: 10px;
    padding: 20px;
    top: 0px;
    left: 0px;
    width: 1920px;
    width: auto !important;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.84;
}
nav {
    flex: 2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    font-size: 18px;
    text-decoration: none
}
a {
    display: inline-block;
    color: #4E4D50;
    text-decoration: none;
}
.logo-holder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    position:absolute;
    max-width:45%;
    max-height:45%;
    /* top:10%; */
    /*
    left:70%;
}
.logo img{
    /* width: 70%;
    position: relative;
    bottom: 90px; */
    /*
    position: relative;
    max-width:70%;
    max-height:100%;
    /* margin-top:-50%; */
    /*
    margin-left:-50%;
}
*/

.logo{
    height: 80px;
}
.logo img{
    object-fit: contain;
    width: 160px;
    height: 80px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #24687F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-right: 50px;
}
span.sidebtn{
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size:30px;
    cursor:pointer;
    z-index: 0;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 767px) {

    nav {
        display: none;
    }
    span.sidebtn{
        display: block;
    }
    .signin{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    span.sidebtn{
        display: block;
    }
    nav {
        display: none;
    }
    .signin{
        display: none;
    }
}
/*
@media screen and (min-width: 768px) and (max-width:1200px){
    .logo{
        left: unset;
    }
    .logo img{
        margin-right: 20%
    }
}
*/

@font-face {
    font-family: '29LT Bukra';
    src: url('../fonts/alfont_com_AlFont_com_4_C7.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: '29LT Bukra';
    src: url('../fonts/alfont_com_AlFont_com_4_C9.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: '29LT Bukra', sans-serif !important;
}
.overflow{
    position: relative;
    overflow-x: hidden;
}
.font-bold{
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}
.accent-main{
    color: #30ADBE;
}
.accent-main-bg{
    color: white;
    background-color: #30ADBE;
}
.accent-sec{
    color: #0E273B;
}
.accent-sec-bg{
    color: white;
    background-color: #0E273B;
}
.accent-third{
    color: #316C9B;
}
.accent-third-bg{
    color: white;
    background-color: #316C9B;
}
.main-bg{
    background-color: #EFEFEF;
}

.navbar-custom{
    background-attachment: white;
}

.container-custom-main{
    max-width: 100%;
}

@media screen and (min-width: 576px) { 
    .container-custom-main {
        max-width: 60%;
    }
}
#countdown{
    border-radius: 20px;
    width: 450px;
}
@media screen and (max-width: 768px) { 
    #countdown {
        width: 50vw;
    }
}
@media screen and (max-width: 576px) { 
    #countdown {
        width: 90%;
    }
}

.countdown-icon{
    width: 60px;
}
.countdown-item{
    max-width: 80px;
}
.countdown-item p {
    font-size: 2.5rem;
}
@media screen and (max-width: 376px) { 
    .countdown-icon{
        width: 45px;
    }
    .countdown-item{
        max-width: 60px;
        font-size: 0.75rem;
    }
    .countdown-item p {
        font-size: 1.5rem;
    }
}

.img-overlay{
    position: absolute;
    z-index: 1000;
}
.img-underlay{
    position: absolute;
    z-index: -1;
}
.img-bg{
    max-width: 250px;
    right: 80vw;
}
@media screen and (min-width: 576px) { 
    .img-bg {
        max-width: 600px;
    }
}
.terms{
    border-radius: 20px;
    max-width: fit-content;
}
@media screen and (min-width: 992px) { 
    .terms {
        width: 80%;
        max-width: 1200px;
    }
}
.terms-item{
    border-radius: 1rem;
    height: 8rem;
}


.timeline{
    display: flex;
    position: relative;
    height: 602px;
    height:auto !important;
    background: rgba(239, 239, 239, 0.4) 0% 0% no-repeat padding-box;
}

.timeline-body{
    margin-top: 112px;
    margin-bottom: 40px;
    width: 1920px;
    text-align: center;
}
.timeline-title{
    font-size: 55px;
    color: #0E273B;
    opacity: 1;
    margin-bottom: 114px;
}

.timeline-element{
    margin: 10px 70px 0 70px;
}
.timeline-element-title{
    color: #316C9B;
    font-size: 22px;
}
.timeline-element-desc{
    margin-top: 36px;
    color: #4E4D50;
    font-size: 22px;
}
.timeline-element-date{
    margin-top: 58px;
    color: #30ADBE;
    font-size: 22px;
}
.timeline-seperator{
    background: transparent url('/assets/Group-13216.png') 0% 0% no-repeat padding-box;
    height: 212px;
    width: 60px;
    margin: auto;    
    display: block;
}

@media screen and (max-width: 768px) {
    .timeline-elements-container{
        width: 100vw;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto; 
    }
    .timeline-seperator{
        background: transparent url('/assets/Group-13217.png') 0% 0% no-repeat padding-box;
        height: 60px;
        width: 212px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


.accordion-item{
    border: none !important;
}
.accordion-button{
    color: #0E273B;
}
.accordion-button:not(.collapsed){
    color: #316C9B;
    background-color: #FFF !important;
    box-shadow: none !important;
}
.accordion-button:focus{
    border-color: none !important;
    box-shadow: none !important;
}

.sponsorship-item{
    height: 150px;
}
.sponsorship-item img{
    object-fit: contain;
    width: 200px;
    height: 100px;
}
.join-us{
    height: 250px;
}
.join-us-blue{
    width: 40vh;
    border-radius: 60px;
    background-color: #30ADBE;
    border: 1px solid #30ADBE;
}
.join-btn {
    color: white;
    background-color: #30ADBE;
}
.join-btn:hover {
    color: white;
    background-color: #0E273B;
}

footer{
    background: transparent url('/assets/coding.svg') 100% 0% no-repeat padding-box;
}

.sign-bg{
    min-height: calc(100vh - 80px);
    height: fit-content;
    background: transparent url('/assets/Mask_Group_17.png') 100% 0% no-repeat padding-box;
}

